{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block content %}
<div class="mycontainer">
    <div class="cityname">
        <h2 class="myfont">Almaty, Taldykorgan</h2>
        <h5 class="myfont">Have a nice trip</h5>
      </div>

    <div class="city_data">
        <div></div>

        <div class="city_data2">
            <div>
                <h5 style="color: #6A994E">Time</h5>
                <a id="month">Month </a>
                <a id="date">Date </a><a>,</a>
                <a id="year">Year</a><br>
                <p id="cityTime" style="font-size: 30px;">Time</p>
                <a id="weekday">Weekday</a>
                <script>
                    var m = new Date();
                    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    document.getElementById("month").innerHTML = months[m.getMonth()];

                    var d = new Date();
                    document.getElementById("date").innerHTML = d.getDate();

                    var y = new Date();
                    document.getElementById("year").innerHTML = y.getFullYear();

                    var w = new Date();
                    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    document.getElementById("weekday").innerHTML = days[w.getDay()];

                    var getCityTime = function(){
                        document.getElementById("cityTime").innerHTML = new Date().toLocaleString("en-US", {timeZone:
                        'Asia/Almaty', timeStyle:'medium', hourCycle:'h23'});
                    }
                    getCityTime();
                    setInterval(getCityTime, 1000);
                </script>
            </div>
            <div>
                <h5 style="color: #6A994E">Weather</h5>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                <ul>
                    <li>{{ city_weather.temperature }}° C</li>
                    <li>{{ city_weather.description }}</li>
                </ul>
            </div>
            <div class="bron">
                <div style="float: left; padding-top: 10px; height: 10px">
                    <p>I'm alone</p>
                    <p>We are</p>
                    <p>With</p>
                    <p>And we need</p>
                </div>
                <div class="counters">
                    <div style="background: #fff"></div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                            var adultCount
                            document.querySelector(".plus-btn").addEventListener("click", function() {
                                adultCount = document.getElementById("quantity").value;
                                adultCount++;
                                document.getElementById("quantity").value = adultCount;
                                if (adultCount > 1) {
                                    document.querySelector(".minus-btn").removeAttribute("disabled");
                                    document.querySelector(".minus-btn").classList.remove("disabled")
                                }

                                })
                                document.querySelector(".minus-btn").addEventListener("click", function() {
                                    adultCount = document.getElementById("quantity").value;
                                    adultCount--;
                                    document.getElementById("quantity").value = adultCount
                                    if (adultCount == 1) {
                                        document.querySelector(".minus-btn").setAttribute("disabled", "disabled")
                                    }
                                })
                            </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn2 disabled" type="button">-</button>
                            <input type="text" id="quantity2" value="1">
                            <button class="btn plus-btn2" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn2").setAttribute("disabled", "disabled");
                            var childCount
                            document.querySelector(".plus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount++;
                                document.getElementById("quantity2").value = childCount;
                                if (childCount > 1) {
                                    document.querySelector(".minus-btn2").removeAttribute("disabled");
                                    document.querySelector(".minus-btn2").classList.remove("disabled")
                                }
                            })
                            document.querySelector(".minus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount--;
                                document.getElementById("quantity2").value = childCount
                                if (childCount == 1) {
                                    document.querySelector(".minus-btn2").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn3 disabled" type="button">-</button>
                            <input type="text" id="quantity3" value="1">
                            <button class="btn plus-btn3" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn3").setAttribute("disabled", "disabled");
                            var roomCount
                            document.querySelector(".plus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount++;
                                document.getElementById("quantity3").value = roomCount;
                                if (roomCount > 1) {
                                    document.querySelector(".minus-btn3").removeAttribute("disabled");
                                    document.querySelector(".minus-btn3").classList.remove("disabled")
                                }

                            })
                            document.querySelector(".minus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount--;
                                document.getElementById("quantity3").value = roomCount
                                if (roomCount == 1) {
                                    document.querySelector(".minus-btn3").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                </div>
                <div style="float: right; padding-top: 15px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p>adults</p>
                    <p>children</p>
                    <p>rooms</p>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <h2 class="gridt">ATTRACTIONS</h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                        <img src="https://melanie-klein-trust.org.uk/wp-content/uploads/2020/05/Almaty.jpg">
                        <h5 class="myfont">Koktobe</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                    <div class="card1">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/a0/80/ab/img-big-almaty-lake.jpg?w=1600&h=-1&s=1">
                        <h5 class="myfont">Big Almaty Lake</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                    <div class="card1">
                        <img src="https://www.inform.kz/radmin/news/2020/08/12/200812040232769e.jpg">
                        <h5 class="myfont">Charyn Canyon</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                        <img src="https://aboutkazakhstan.com/blog/wp-content/uploads/2015/11/white-cliffs-of-aktolagay-mountain-ridge-kazakhstan-8.jpg">
                        <h5 class="myfont">Aktolagay mountain ridge</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                    <div class="card1">
                        <img src="https://silkadv.com/sites/default/files/Kazahstan/Priroda/Vostochnyi_Kazahstan/Ozera_Kazahstanskogo_Altay/Zaisan_ozero/0_4_IMG_1967-min.JPG">
                        <h5 class="myfont">Zaysan foreshor</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                    <div class="card1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Bukhtarma.jpg">
                        <h5 class="myfont">Bukhtarma river in East Kazakhstan</h5>
			            <p class="myfont">Almaty</p>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");

              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slides[slideIndex-1].style.display = "block";
            }
        </script>


    <h2 class="gridt">HOTELS</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/123/123515098.jpg">
                        <h5 class="myfont">Renion Park Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/renion-park.ru.html?aid=356980;label=gog235jc-1DCAMogAFCBmFxdG9iZUghWANogAGIAQGYASG4ARfIAQzYAQPoAQH4AQKIAgGoAgO4AoT_pIUGwAIB0gIkNjY4MWQyYWQtM2Y4OC00Y2RmLThlZjMtMTQ3MjkxOWNlMGQ22AIE4AIB;sid=2ecdad915dcce2f88b477c095aec684f;dest_id=-2334069;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1622535194;srpvid=ae1939cd083d0183;type=total;ucfs=1&#map_opened-hotel_address">66 Kunaev Street, 050004</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273131012">+7 (727) 313 10 12</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/426/42696320.jpg">
                        <h5 class="myfont">Rixos Almaty Отель</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/rixos-almaty.ru.html?aid=356980&label=gog235jc-1DCAMogAFCBmFxdG9iZUghWANogAGIAQGYASG4ARfIAQzYAQPoAQH4AQKIAgGoAgO4AoT_pIUGwAIB0gIkNjY4MWQyYWQtM2Y4OC00Y2RmLThlZjMtMTQ3MjkxOWNlMGQ22AIE4AIB&sid=2ecdad915dcce2f88b477c095aec684f&dest_id=-2334069&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=19&hpos=19&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1622538661&srpvid=44c24092722700dd&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Seifullin Street 506/99, 050012</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273003300">+7 (727) 300 33 00</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/122/122933731.jpg">
                        <h5 class="myfont">Garden Park Inn</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/the-ritz-carlton-almaty.ru.html?aid=356980;label=gog235jc-1DCAMogAFCBmFxdG9iZUghWANogAGIAQGYASG4ARfIAQzYAQPoAQH4AQKIAgGoAgO4AoT_pIUGwAIB0gIkNjY4MWQyYWQtM2Y4OC00Y2RmLThlZjMtMTQ3MjkxOWNlMGQ22AIE4AIB;sid=2ecdad915dcce2f88b477c095aec684f;dest_id=-2334069;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=14;hpos=14;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1622538661;srpvid=44c24092722700dd;type=total;ucfs=1&#map_opened-hotel_address">Al-Farabi avenue 77/7, 050040</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273328888">+7 (727) 332 88 88</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/220/220178704.jpg">
                        <h5 class="myfont"> DoubleTree by Hilton Almaty </h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/doubletree-by-hilton-almaty.ru.html?aid=356980;label=gog235jc-1DCAMogAFCBmFxdG9iZUghWANogAGIAQGYASG4ARfIAQzYAQPoAQH4AQKIAgGoAgO4AoT_pIUGwAIB0gIkNjY4MWQyYWQtM2Y4OC00Y2RmLThlZjMtMTQ3MjkxOWNlMGQ22AIE4AIB;sid=2ecdad915dcce2f88b477c095aec684f;dest_id=-2334069;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=7;hpos=7;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1622538661;srpvid=44c24092722700dd;type=total;ucfs=1&#map_opened-hotel_address">115 Dosmukhamedov Street, 050000</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273204200">+7 (727) 320 42 00</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/250/250236856.jpg">
                        <h5 class="myfont">Rixos Almaty Отель</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/shera-park.ru.html?aid=356980;label=gog235jc-1DCAMogAFCBmFxdG9iZUghWANogAGIAQGYASG4ARfIAQzYAQPoAQH4AQKIAgGoAgO4AoT_pIUGwAIB0gIkNjY4MWQyYWQtM2Y4OC00Y2RmLThlZjMtMTQ3MjkxOWNlMGQ22AIE4AIB;sid=2ecdad915dcce2f88b477c095aec684f;dest_id=-2334069;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=8;hpos=8;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1622538661;srpvid=44c24092722700dd;type=total;ucfs=1&#map_opened-hotel_address">60 Ulitsa Khadzhimukan , 050059</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273138111">+7 (727) 313 81 11</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/205/205253952.jpg">
                        <h5 class="myfont">Ritz-Carlton</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
			            <p class="myfont">Almaty</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://ww2ecdad915dcce2f88b477c095aec684f;dest_id=-2334225;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=5;hpos=5;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1621709050;srpvid=38a483bcfaf80118;type=total;ucfs=1&#map_opened-hotel_address">12 microdistrict, building 6 A</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77273138111">+7 (727) 313 81 11</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlidesa(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesa(1)">&#10095;</a>
            </div>

        <script>
            var slideIndexa = 1;
            showSlidesa(slideIndexa);

            function plusSlidesa(m) {
              showSlidesa(slideIndexa += m);
            }

            function currentSlida2(m) {
              showSlidesa(slideIndexa = m);
            }

            function showSlidesa(m) {
              var o;
              var slides2 = document.getElementsByClassName("mySlides2");

              if (m > slides2.length) {slideIndexa = 1}
              if (m < 1) {slideIndexa = slides2.length}
              for (o = 0; o < slides2.length; o++) {
                  slides2[o].style.display = "none";
              }
              slides2[(slideIndexa)-1].style.display = "block";
            }
    </script>


{% endblock %}

</div>