{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block content %}
<div class="mycontainer">
    <div class="cityname">
        <h2 class="myfont">EAST KAZAKHSTAN, Oskemen</h2>
        <h5 class="myfont">Have a nice trip</h5>
      </div>

    <div class="city_data">
        <div></div>

        <div class="city_data2">
            <div>
                <h5 style="color: #6A994E">Time</h5>
                <a id="month">Month </a>
                <a id="date">Date </a><a>,</a>
                <a id="year">Year</a><br>
                <p id="cityTime" style="font-size: 2.19vw;">Time</p>
                <a id="weekday">Weekday</a>
                <script>
                    var m = new Date();
                    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    document.getElementById("month").innerHTML = months[m.getMonth()];

                    var d = new Date();
                    document.getElementById("date").innerHTML = d.getDate();

                    var y = new Date();
                    document.getElementById("year").innerHTML = y.getFullYear();

                    var w = new Date();
                    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    document.getElementById("weekday").innerHTML = days[w.getDay()];

                    var getCityTime = function(){
                        document.getElementById("cityTime").innerHTML = new Date().toLocaleString("en-US", {timeZone:
                        'Asia/Almaty', timeStyle:'medium', hourCycle:'h23'});
                    }
                    getCityTime();
                    setInterval(getCityTime, 1000);
                </script>
            </div>
            <div>
                <h5 style="color: #6A994E">Weather</h5>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                <ul>
                    <li>{{ city_weather.temperature }}° C</li>
                    <li>{{ city_weather.description }}</li>
                </ul>
            </div>
            <div class="bron">
                <div style="float: left; padding-top: 0.73vw; height: 0.73vw;">
                    <p>I'm alone</p>
                    <p>We are</p>
                    <p>With</p>
                    <p>And we need</p>
                </div>
                <div class="counters">
                    <div style="background: #fff"></div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                            var adultCount
                            document.querySelector(".plus-btn").addEventListener("click", function() {
                                adultCount = document.getElementById("quantity").value;
                                adultCount++;
                                document.getElementById("quantity").value = adultCount;
                                if (adultCount > 1) {
                                    document.querySelector(".minus-btn").removeAttribute("disabled");
                                    document.querySelector(".minus-btn").classList.remove("disabled")
                                }

                                })
                                document.querySelector(".minus-btn").addEventListener("click", function() {
                                    adultCount = document.getElementById("quantity").value;
                                    adultCount--;
                                    document.getElementById("quantity").value = adultCount
                                    if (adultCount == 1) {
                                        document.querySelector(".minus-btn").setAttribute("disabled", "disabled")
                                    }
                                })
                            </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn2 disabled" type="button">-</button>
                            <input type="text" id="quantity2" value="1">
                            <button class="btn plus-btn2" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn2").setAttribute("disabled", "disabled");
                            var childCount
                            document.querySelector(".plus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount++;
                                document.getElementById("quantity2").value = childCount;
                                if (childCount > 1) {
                                    document.querySelector(".minus-btn2").removeAttribute("disabled");
                                    document.querySelector(".minus-btn2").classList.remove("disabled")
                                }
                            })
                            document.querySelector(".minus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount--;
                                document.getElementById("quantity2").value = childCount
                                if (childCount == 1) {
                                    document.querySelector(".minus-btn2").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn3 disabled" type="button">-</button>
                            <input type="text" id="quantity3" value="1">
                            <button class="btn plus-btn3" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn3").setAttribute("disabled", "disabled");
                            var roomCount
                            document.querySelector(".plus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount++;
                                document.getElementById("quantity3").value = roomCount;
                                if (roomCount > 1) {
                                    document.querySelector(".minus-btn3").removeAttribute("disabled");
                                    document.querySelector(".minus-btn3").classList.remove("disabled")
                                }

                            })
                            document.querySelector(".minus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount--;
                                document.getElementById("quantity3").value = roomCount
                                if (roomCount == 1) {
                                    document.querySelector(".minus-btn3").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                </div>
                <div style="float: right; padding-top: 15px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p>adults</p>
                    <p>children</p>
                    <p>rooms</p>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <h2 class="gridt">ATTRACTIONS</h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                         <img src="http://lissin.kz/wp-content/uploads/2014/08/DSC_5340_wm.jpg">
                        <h5 class="myfont">City Mosque</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                    <div class="card1">
                         <img src="https://ticketon.kz/files/media/urochishhe-kiinkerish2021%20(5)%20(1).jpg">
                        <h5 class="myfont">Kiin-Kerish tract</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                    <div class="card1">
                         <img src="https://www.votpusk.ru/gallery/mobile/120706.jpg">
                        <h5 class="myfont">Regional history and local history museum</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                         <img src="https://upload.wikimedia.org/wikipedia/ru/5/5c/%D0%A1%D1%82%D0%B5%D0%BB%D0%B0_%22%D0%A2%D1%83%D0%BB%D1%8F%D0%BA%D0%B0%D0%BC_-_%D0%93%D0%B5%D1%80%D0%BE%D1%8F%D0%BC_%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D0%A1%D0%BE%D1%8E%D0%B7%D0%B0%22.jpg">
                        <h5 class="myfont">Monument to Heroes of the Soviet Union</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                    <div class="card1">
                         <img src="https://media-cdn.tripadvisor.com/media/photo-s/05/7f/f1/6b/memorial-to-soldiers.jpg">
                        <h5 class="myfont">Monument to the Memory of Soldiers-Internationalisto</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                    <div class="card1">
                        <img src="https://pobeda-sakhalin.ru/uploaded/1e/34/b4/6a1399b3c6e9599c0feeff9fc3.jpg">
                        <h5 class="myfont">Memorial Complex "Victory"</h5>
			            <p class="myfont">Oskemen</p>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");

              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slides[slideIndex-1].style.display = "block";
            }
        </script>

    <h2 class="gridt">HOTELS</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/62768853.jpg?k=488d23a35c5ae12b6003dce3c1855afffb222ef0629a678eb9b59b02a402f335&o=&hp=1">
                        <h5 class="myfont">Oskemen</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/ust-kamenogorsk.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=112099302_89718832_0_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342206&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=112099302_89718832_0_1_0&hpos=1&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=112099302_89718832_0_1_0__1000000&srepoch=1622736606&srpvid=c7cf71ae06030150&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Kabanbay Batyr Street 158</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77777095960">+7 (777) 709 59 60</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/259885354.jpg?k=f34506381aa33b0ff406d39fc07960fb9c527b5c21719e41ce2cf8ee8309b1ff&o=&hp=1">
                        <h5 class="myfont">Deluxe SPA-Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/de-luxe-ust-kamenogorsk13.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=126765006_199990395_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342206&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=2&highlighted_blocks=126765006_199990395_2_1_0&hpos=2&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=126765006_199990395_2_1_0__1800000&srepoch=1622736606&srpvid=c7cf71ae06030150&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Kaysenova Streeet 28А</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77079164235">+7 (707) 916 42 35</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/213937954.jpg?k=811be38724047d79be56dae48db3b7508418a8a2c3f80780d3172535d5955506&o=&hp=1">
                        <h5 class="myfont">Dedeman Oskemen Tavros Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/dedeman-oskemen-tavros.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=100149005_298985915_0_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342206&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=5&highlighted_blocks=100149005_298985915_0_1_0&hpos=5&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=100149005_298985915_0_1_0__4200000&srepoch=1622736606&srpvid=c7cf71ae06030150&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Permitina Street 11/1</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77232208208">+7 (7232) 20 82 08</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/261043845.jpg?k=11c8da2a739ca014b8307f7cd9a3b7e12d669039dfbb0acb7ea1b4c4d7d9d409&o=&hp=1">
                        <h5 class="myfont">7 Boutique Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/7-boutique.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=642492701_266273320_2_2_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342206&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=642492701_266273320_2_2_0&hpos=3&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=642492701_266273320_2_2_0__1800000&srepoch=1622736606&srpvid=c7cf71ae06030150&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">st. Kazakhstan 59</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77084403657">+7 (708) 440 36 57</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/164404712.jpg?k=602112787ca9f9f7cbc16d29548e943d2391dd301a3ad42c64dac4c75c9386ec&o=&hp=1">
                        <h5 class="myfont">Ar Nuvo</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/gostinichny-kompleks-chaika.ru.html?aid=376376;label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4;sid=cdc45927942b2f7b08f10f378470c3b6;all_sr_blocks=48382417_179906619_2_41_0;checkin=2021-06-18;checkout=2021-06-19;dest_id=-2342681;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=6;highlighted_blocks=48382417_179906619_2_41_0;hpos=6;nflt=ht_id%3D204%3Bclass%3D5%3Bclass%3D4%3Bclass%3D3%3Bclass%3D1%3B;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=48382417_179906619_2_41_0__1599999;srepoch=1622726310;srpvid=f1b85d9351450057;type=total;ucfs=1&#map_opened-hotel_address">Boulevard Mira 4A</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77212420950">+7 (7212) 42 09 50</a>
                        </div>
                    </div>
                    <div class="card1">
                       <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/206207224.jpg?k=3752f0270f456e4213d02257abe28d101c68b0b6637f4d8e781144ce983e6f53&o=&hp=1">
                        <h5 class="myfont">Silk Way Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oskemen</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/silk-way-aktau.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=30219703_245964018_0_42_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2334223&dest_type=city&dist=0&from_beach_non_key_ufi_sr=1&group_adults=2&group_children=0&hapos=5&highlighted_blocks=30219703_245964018_0_42_0&hpos=5&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=30219703_245964018_0_42_0__999999&srepoch=1622731447&srpvid=8e05679bd2cd014b&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">3rd Mikrorayon</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77253336886">+7 (72533) 3 68 86</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlidesa(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesa(1)">&#10095;</a>
            </div>

        <script>
            var slideIndexa = 1;
            showSlidesa(slideIndexa);

            function plusSlidesa(m) {
              showSlidesa(slideIndexa += m);
            }

            function currentSlida2(m) {
              showSlidesa(slideIndexa = m);
            }

            function showSlidesa(m) {
              var o;
              var slides2 = document.getElementsByClassName("mySlides2");

              if (m > slides2.length) {slideIndexa = 1}
              if (m < 1) {slideIndexa = slides2.length}
              for (o = 0; o < slides2.length; o++) {
                  slides2[o].style.display = "none";
              }
              slides2[(slideIndexa)-1].style.display = "block";
            }
    </script>


{% endblock %}

</div>