{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block content %}
<div class="mycontainer">
    <div class="cityname">
        <h2 class="myfont">KYZYLORDA, Kyzylorda</h2>
        <h5 class="myfont">Have a nice trip</h5>
      </div>

    <div class="city_data">
        <div></div>

        <div class="city_data2">
            <div>
                <h5 style="color: #6A994E">Time</h5>
                <a id="month">Month </a>
                <a id="date">Date </a><a>,</a>
                <a id="year">Year</a><br>
                <p id="cityTime" style="font-size: 2.19vw;">Time</p>
                <a id="weekday">Weekday</a>
                <script>
                    var m = new Date();
                    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    document.getElementById("month").innerHTML = months[m.getMonth()];

                    var d = new Date();
                    document.getElementById("date").innerHTML = d.getDate();

                    var y = new Date();
                    document.getElementById("year").innerHTML = y.getFullYear();

                    var w = new Date();
                    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    document.getElementById("weekday").innerHTML = days[w.getDay()];

                    var getCityTime = function(){
                        document.getElementById("cityTime").innerHTML = new Date().toLocaleString("en-US", {timeZone:
                        'Asia/Aqtobe', timeStyle:'medium', hourCycle:'h23'});
                    }
                    getCityTime();
                    setInterval(getCityTime, 1000);
                </script>
            </div>
            <div>
                <h5 style="color: #6A994E">Weather</h5>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                <ul>
                    <li>{{ city_weather.temperature }}° C</li>
                    <li>{{ city_weather.description }}</li>
                </ul>
            </div>
            <div class="bron">
                <div style="float: left; padding-top: 0.73vw; height: 0.73vw;">
                    <p>I'm alone</p>
                    <p>We are</p>
                    <p>With</p>
                    <p>And we need</p>
                </div>
                <div class="counters">
                    <div style="background: #fff"></div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                            var adultCount
                            document.querySelector(".plus-btn").addEventListener("click", function() {
                                adultCount = document.getElementById("quantity").value;
                                adultCount++;
                                document.getElementById("quantity").value = adultCount;
                                if (adultCount > 1) {
                                    document.querySelector(".minus-btn").removeAttribute("disabled");
                                    document.querySelector(".minus-btn").classList.remove("disabled")
                                }

                                })
                                document.querySelector(".minus-btn").addEventListener("click", function() {
                                    adultCount = document.getElementById("quantity").value;
                                    adultCount--;
                                    document.getElementById("quantity").value = adultCount
                                    if (adultCount == 1) {
                                        document.querySelector(".minus-btn").setAttribute("disabled", "disabled")
                                    }
                                })
                            </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn2 disabled" type="button">-</button>
                            <input type="text" id="quantity2" value="1">
                            <button class="btn plus-btn2" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn2").setAttribute("disabled", "disabled");
                            var childCount
                            document.querySelector(".plus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount++;
                                document.getElementById("quantity2").value = childCount;
                                if (childCount > 1) {
                                    document.querySelector(".minus-btn2").removeAttribute("disabled");
                                    document.querySelector(".minus-btn2").classList.remove("disabled")
                                }
                            })
                            document.querySelector(".minus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount--;
                                document.getElementById("quantity2").value = childCount
                                if (childCount == 1) {
                                    document.querySelector(".minus-btn2").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn3 disabled" type="button">-</button>
                            <input type="text" id="quantity3" value="1">
                            <button class="btn plus-btn3" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn3").setAttribute("disabled", "disabled");
                            var roomCount
                            document.querySelector(".plus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount++;
                                document.getElementById("quantity3").value = roomCount;
                                if (roomCount > 1) {
                                    document.querySelector(".minus-btn3").removeAttribute("disabled");
                                    document.querySelector(".minus-btn3").classList.remove("disabled")
                                }

                            })
                            document.querySelector(".minus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount--;
                                document.getElementById("quantity3").value = roomCount
                                if (roomCount == 1) {
                                    document.querySelector(".minus-btn3").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                </div>
                <div style="float: right; padding-top: 15px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p>adults</p>
                    <p>children</p>
                    <p>rooms</p>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <h2 class="gridt">ATTRACTIONS</h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                        <img src="https://avatars.mds.yandex.net/get-zen_doc/1912454/pub_5dbbdfa7e4fff000adda4a5b_5dbbdfde43863f00b151e097/scale_1200">
                        <h5 class="myfont">Lake Kamystybas (Kambash)</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                    <div class="card1">
                         <img src="https://visitkazakhstan.kz/uploads/img/1250824327_place.jpg">
                        <h5 class="myfont">Aytbay Mosque</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                    <div class="card1">
                         <img src="https://sputnik.kz/images/1186/61/11866183.jpg">
                        <h5 class="myfont">Memorial complex in honor of korkyt ata</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                         <img src="https://lyubimiigorod.ru/images/cards/5e4e6049b059e.jpg">
                        <h5 class="myfont">Museum</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                    <div class="card1">
                         <img src="https://files.kazakhstan.travel/files/public/201810/24/423ff2a65b07405eab328960699b9377/%D0%BA%D0%B0%D1%82%D0%BE%D0%BD.jpg">
                        <h5 class="myfont">Barsakelmes state reserve</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                    <div class="card1">
                         <img src="https://www.roscosmos.ru/media/gallery/big/23058/2753255214.jpg">
                        <h5 class="myfont">Baikonur</h5>
			            <p class="myfont">Kyzylorda</p>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");

              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slides[slideIndex-1].style.display = "block";
            }
        </script>

    <h2 class="gridt">HOTELS</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/118895432.jpg?k=f94c4e139dd33b0f89e5543132574193cb9ad14a9d7e2408433e3b3115e0b810&o=&hp=1">
                        <h5 class="myfont">Grand</h5>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/gostinitsa-grand-qyzylorda.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=183862101_206223285_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=183862101_206223285_2_1_0&hpos=1&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=183862101_206223285_2_1_0__1999999&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Tole Bi 21</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77714803631">+7 (771) 480 36 31</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/158783405.jpg?k=9cbe9998c44dda67cd0e10933a0bfc24251b3aa42772f6d42c27e741ea4f38e1&o=&hp=1">
                        <h5 class="myfont">Sirdaria</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/sirdaria.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=202895706_200662296_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=2&highlighted_blocks=202895706_200662296_2_1_0&hpos=2&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=202895706_200662296_2_1_0__1200000&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Tsay Den Khak, 11</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77242230475">+7 (7242) 23 04 75</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/174497549.jpg?k=154ee89b01179a69217743e086c42a5cca7fdeb4c5cd69e18662bc4294d8d6a6&o=&hp=1">
                        <h5 class="myfont">Vangogh </h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/vangogh-qyzylorda6.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=158150002_191151661_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=158150002_191151661_2_1_0&hpos=3&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=158150002_191151661_2_1_0__1660000&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Jalantos Bahadura, 1</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77242234684">+7 (7242) 23 46 84</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/169953037.jpg?k=8d0e1ae026a0103beb5dca85c03d23d73e365bc1d6efee7e189456cc3518b8ad&o=&hp=1">
                        <h5 class="myfont">Park Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/park-qizilorda.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=426135002_129955174_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=5&highlighted_blocks=426135002_129955174_2_1_0&hpos=5&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=426135002_129955174_2_1_0__1900000&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">4 Konaev Street</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77774000022">+7 (777) 400 00 22</a>
                        </div>
                    </div>
                    <div class="card1">
                       <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/112400160.jpg?k=85627676f52cbec62c4f6c53ca40565bc504e65621f7413ddc307d15014fcc39&o=&hp=1">
                        <h5 class="myfont">Sultan Plaza hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/sultan-plaza.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=261507202_243738580_0_40_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=7&highlighted_blocks=261507202_243738580_0_40_0&hpos=7&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=261507202_243738580_0_40_0__3499999&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Tokmagambetov St. 38</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77242702777">+7 (7242) 70 27 77</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/150223369.jpg?k=1bd1beafd658ac7b4d3f6aa4df67de6f035e5fabf49d9f1baceb30528b0a90a4&o=&hp=1">
                        <h5 class="myfont">Bella Vista</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Kyzylorda</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/complex-bella-vista.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=203157906_94921852_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=10&highlighted_blocks=203157906_94921852_2_1_0&hpos=10&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=203157906_94921852_2_1_0__3999999&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Embankment 1 B</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77242700110">+7 (7242) 70 01 10</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlidesa(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesa(1)">&#10095;</a>
            </div>

        <script>
            var slideIndexa = 1;
            showSlidesa(slideIndexa);

            function plusSlidesa(m) {
              showSlidesa(slideIndexa += m);
            }

            function currentSlida2(m) {
              showSlidesa(slideIndexa = m);
            }

            function showSlidesa(m) {
              var o;
              var slides2 = document.getElementsByClassName("mySlides2");

              if (m > slides2.length) {slideIndexa = 1}
              if (m < 1) {slideIndexa = slides2.length}
              for (o = 0; o < slides2.length; o++) {
                  slides2[o].style.display = "none";
              }
              slides2[(slideIndexa)-1].style.display = "block";
            }
    </script>


{% endblock %}

</div>