{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block content %}
<div class="mycontainer">
    <div class="cityname">
        <h2 class="myfont">NORTH KAZAKHSTAN, Petropavlsk</h2>
        <h5 class="myfont">Have a nice trip</h5>
      </div>

    <div class="city_data">
        <div></div>

        <div class="city_data2">
            <div>
                <h5 style="color: #6A994E">Time</h5>
                <a id="month">Month </a>
                <a id="date">Date </a><a>,</a>
                <a id="year">Year</a><br>
                <p id="cityTime" style="font-size: 2.19vw;">Time</p>
                <a id="weekday">Weekday</a>
                <script>
                    var m = new Date();
                    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    document.getElementById("month").innerHTML = months[m.getMonth()];

                    var d = new Date();
                    document.getElementById("date").innerHTML = d.getDate();

                    var y = new Date();
                    document.getElementById("year").innerHTML = y.getFullYear();

                    var w = new Date();
                    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    document.getElementById("weekday").innerHTML = days[w.getDay()];

                    var getCityTime = function(){
                        document.getElementById("cityTime").innerHTML = new Date().toLocaleString("en-US", {timeZone:
                        'Asia/Almaty', timeStyle:'medium', hourCycle:'h23'});
                    }
                    getCityTime();
                    setInterval(getCityTime, 1000);
                </script>
            </div>
            <div>
                <h5 style="color: #6A994E">Weather</h5>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                <ul>
                    <li>{{ city_weather.temperature }}° C</li>
                    <li>{{ city_weather.description }}</li>
                </ul>
            </div>
            <div class="bron">
                <div style="float: left; padding-top: 0.73vw; height: 0.73vw;">
                    <p>I'm alone</p>
                    <p>We are</p>
                    <p>With</p>
                    <p>And we need</p>
                </div>
                <div class="counters">
                    <div style="background: #fff"></div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                            var adultCount
                            document.querySelector(".plus-btn").addEventListener("click", function() {
                                adultCount = document.getElementById("quantity").value;
                                adultCount++;
                                document.getElementById("quantity").value = adultCount;
                                if (adultCount > 1) {
                                    document.querySelector(".minus-btn").removeAttribute("disabled");
                                    document.querySelector(".minus-btn").classList.remove("disabled")
                                }

                                })
                                document.querySelector(".minus-btn").addEventListener("click", function() {
                                    adultCount = document.getElementById("quantity").value;
                                    adultCount--;
                                    document.getElementById("quantity").value = adultCount
                                    if (adultCount == 1) {
                                        document.querySelector(".minus-btn").setAttribute("disabled", "disabled")
                                    }
                                })
                            </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn2 disabled" type="button">-</button>
                            <input type="text" id="quantity2" value="1">
                            <button class="btn plus-btn2" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn2").setAttribute("disabled", "disabled");
                            var childCount
                            document.querySelector(".plus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount++;
                                document.getElementById("quantity2").value = childCount;
                                if (childCount > 1) {
                                    document.querySelector(".minus-btn2").removeAttribute("disabled");
                                    document.querySelector(".minus-btn2").classList.remove("disabled")
                                }
                            })
                            document.querySelector(".minus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount--;
                                document.getElementById("quantity2").value = childCount
                                if (childCount == 1) {
                                    document.querySelector(".minus-btn2").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn3 disabled" type="button">-</button>
                            <input type="text" id="quantity3" value="1">
                            <button class="btn plus-btn3" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn3").setAttribute("disabled", "disabled");
                            var roomCount
                            document.querySelector(".plus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount++;
                                document.getElementById("quantity3").value = roomCount;
                                if (roomCount > 1) {
                                    document.querySelector(".minus-btn3").removeAttribute("disabled");
                                    document.querySelector(".minus-btn3").classList.remove("disabled")
                                }

                            })
                            document.querySelector(".minus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount--;
                                document.getElementById("quantity3").value = roomCount
                                if (roomCount == 1) {
                                    document.querySelector(".minus-btn3").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                </div>
                <div style="float: right; padding-top: 15px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p>adults</p>
                    <p>children</p>
                    <p>rooms</p>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <h2 class="gridt">ATTRACTIONS</h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Donetsk_repressii_03.jpg">
                        <h5 class="myfont">Memorial to the Victims of Political Repression</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                    <div class="card1">
                         <img src="https://www.nkzu.kz/files/astro/5.jpg">
                        <h5 class="myfont">Astronomical Observatory of North Kazakhstan University</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                    <div class="card1">
                         <img src="https://sputnik.kz/images/1413/54/14135497.jpg">
                        <h5 class="myfont">Botanical garden</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                         <img src="https://www.votpusk.ru/gallery/mobile/120327.jpg">
                        <h5 class="myfont">Kyzyl Zhar Mosque</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                    <div class="card1">
                         <img src="https://m.ticketon.kz/files/images/abylaj-khan-rezidenciyasy-murazhaj-kesheni3.jpg">
                        <h5 class="myfont">Museum complex Residence of Abylai Khan</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                    <div class="card1">
                         <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/50/be/75/caption.jpg">
                        <h5 class="myfont">Regional Museum of History and Local Lore</h5>
			            <p class="myfont">Petropavlsk</p>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");

              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slides[slideIndex-1].style.display = "block";
            }
        </script>

    <h2 class="gridt">HOTELS</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/70271262.jpg?k=145d81ac2ec291bfd869aac15eff230756caf9044fda03ca0a619397bba53d5b&o=&hp=1">
                        <h5 class="myfont">GREEN Which Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/green-which.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=171893802_120942132_0_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342388&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=4&highlighted_blocks=171893802_120942132_0_1_0&hpos=4&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=171893802_120942132_0_1_0__2100000&srepoch=1622735225&srpvid=50be6efca39501a9&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Constitution of Kazakhstan street 1A</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77152504040">+7 (7152) 50 40 40</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/187232833.jpg?k=e6c7676b40b7bbaa0dd05b23a929712480c620e63172e2399a02e26acf866d71&o=&hp=1">
                        <h5 class="myfont">TELEGRAPH INN</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/telegraph-inn.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=443467201_208299697_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342388&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=443467201_208299697_2_1_0&hpos=3&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=443467201_208299697_2_1_0__2500000&srepoch=1622735225&srpvid=50be6efca39501a9&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">2 Astana street</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77057567200">+7 (705) 756 7200</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/264451394.jpg?k=d18049252ce4417001e2b4c5006c0d07de2f8ecc1e0de0d312ed56037157ea6e&o=&hp=1">
                        <h5 class="myfont">Skif HOTEL</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/complex-skif.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=71030205_218079636_0_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342388&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=2&highlighted_blocks=71030205_218079636_0_1_0&hpos=2&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=71030205_218079636_0_1_0__2499999&srepoch=1622735225&srpvid=50be6efca39501a9&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Parkovaya Street 118</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77775363366">+7 (777) 536 33 66</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/171874749.jpg?k=1f168e753b0a4a2ec38dea2480b0674e45b9176b7b0c42a08ac542afc5fe9d74&o=&hp=1">
                        <h5 class="myfont">Altyn Orda</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/altyn-orda.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=428128201_204053840_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342388&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=428128201_204053840_2_1_0&hpos=1&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=428128201_204053840_2_1_0__1044000&srepoch=1622735225&srpvid=50be6efca39501a9&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Ulitsa Auezova 260 A</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77019967700">+7 (701) 996 77 00</a>
                        </div>
                    </div>
                    <div class="card1">
                       <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/94389013.jpg?k=773cfbd2a68b8435aadacf1b7d512ebed3fd89f6d631d9cdd9298c9150824ad6&o=&hp=1">
                        <h5 class="myfont">Lina</h5>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/ghostinitsa-lina.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=228657303_202447950_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342388&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=9&highlighted_blocks=228657303_202447950_2_1_0&hpos=9&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=228657303_202447950_2_1_0__1800000&srepoch=1622735225&srpvid=50be6efca39501a9&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">ulitsa Novaia, dom 1</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77152702777">+7 (7152) 70 27 77</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/169953037.jpg?k=8d0e1ae026a0103beb5dca85c03d23d73e365bc1d6efee7e189456cc3518b8ad&o=&hp=1">
                        <h5 class="myfont">Park Hotel</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Petropavlsk</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/park-qizilorda.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=426135002_129955174_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=-2342706&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=5&highlighted_blocks=426135002_129955174_2_1_0&hpos=5&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=426135002_129955174_2_1_0__1900000&srepoch=1622730279&srpvid=67c465536fa00040&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">4 Konaev Street</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77774000022">+7 (777) 400 00 22</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlidesa(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesa(1)">&#10095;</a>
            </div>

        <script>
            var slideIndexa = 1;
            showSlidesa(slideIndexa);

            function plusSlidesa(m) {
              showSlidesa(slideIndexa += m);
            }

            function currentSlida2(m) {
              showSlidesa(slideIndexa = m);
            }

            function showSlidesa(m) {
              var o;
              var slides2 = document.getElementsByClassName("mySlides2");

              if (m > slides2.length) {slideIndexa = 1}
              if (m < 1) {slideIndexa = slides2.length}
              for (o = 0; o < slides2.length; o++) {
                  slides2[o].style.display = "none";
              }
              slides2[(slideIndexa)-1].style.display = "block";
            }
    </script>


{% endblock %}

</div>