{% extends 'main/base.html' %}

{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block style %}
    #language {
      border-collapse: collapse;
      width: 100%;
    }

    #language th{
        text-align: center;
    }

    #language td, #language th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #language tr:nth-child(even){background-color: #f2f2f2;}

    #language th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
{% endblock %}

{% block content %}
<div class="container">
  <h2>Plan your trip</h2><hr>

  <div class="booking_info">
        <div class="opt" >
          <span class="active myfont" id="opt1" onclick="myFunction()" style="padding-left: 0.65vw">Time zones</span>
          <span class="myfont" id="opt2" onclick="myFunction2()" style="padding-left: 1.32vw">Languages</span>
          <span class="myfont" id="opt3" onclick="myFunction3()" style="padding-left: 1.32vw">Communication</span>
        </div>

        <div class="planyourtrip">
            <article id="time_zones" class="content-article">
                  <p>The territory of the Republic of Kazakhstan is divided into two time zones – UTC+5 and UTC+6, although, in fact, geographically it occupies four time zones: UTC+3, UTC+4, UTC+5, UTC+6.</p>
                  <p>Transitions to summer time was cancelled in 2005, so Kazakhstan does not observe daylight saving time.</p>
                  <h4>Time difference with neighbouring countries</h4>
                  <p>Russia:</p>
                  <ul>
                      <li>-1 hour – for the border between the Western Kazakhstan, Atyrau provinces and Saratov, Astrakhan provinces (time of Samara city); and for the border between Kostanay,&nbsp; Northern Kazakhstan, Pavlodar provinces and Chelyabinsk, Kurgan, Tyumen provinces (time of Yekaterinburg)</li>
                      <li>0 hours – for the border between Aktobe province and Orenburg province (time of Yekaterinburg); and for the border between Pavlodar province and Omsk province (time of Omsk)</li>
                      <li>+1 hour – for the border between Pavlodar, Eastern Kazakhstan provinces and Altai Krai, the Altai Republic (time of Krasnoyarsk)</li>
                  </ul>
                  <p>Turkmenistan:</p>
                  <ul>
                      <li>0 hours – for the border between Mangistau and Aktobe provinces</li>
                      <li>&nbsp;-1 hour – for the rest of border territories</li>
                  </ul><p>Kyrgyzstan: </p>
                  <ul>
                      <li>0 hours</li>
                  </ul>
                  <p>China: </p>
                  <ul>
                      <li>+2 hours</li>
                  </ul>
                  <p><img src="https://upload.wikimedia.org/wikipedia/commons/4/45/%D0%A7%D0%B0%D1%81%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BF%D0%BE%D1%8F%D1%81%D0%B0_%D0%B2_%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD%D0%B5.svg" data-filename="" style="width: 970px;"><br></p>
            </article>

            <div id="languages" style="display: none">
      <h3>Languages in Kazakhstan</h3>
      <p>The official language of Kazakhstan is Kazakh. Russian language is also used in state organizations and local governments, along with Kazakh.</p>
      <p>80-90% of the population is fluent in Russian. Basically all employees in travel agencies, hotels, restaurants and shops in large cities can speak English.</p>
      <p>In remote regions, it is best for foreign guests to have an English-Kazakh-Russian phrasebook. Below you can find a mini-phrasebook with some necessary words. In addition, feel free to use Google Translate and other online translation services. If the necessary language packs are available for download, we recommend that you download them in advance to use the translator offline, as in remote places there may be problems with access to the Internet.</p>
      <p>Useful phrases in Russian and Kazakh:</p>
      <table id="language">
          <tr>
              <th>English</th>
              <th>Russian</th>
              <th>Kazakh</th>
          </tr>
          <tr>
              <td>Hello!</td>
              <td>Здравствуйте! (ZDRAHST-vooy-tyeh)</td>
              <td>Сәлеметсіз бе? (sah-le-MET-siz beh?)</td>
          </tr>
          <tr>
              <td>Hi!</td>
              <td>Привет! (pree-VYET)</td>
              <td>Сәлем (sah-LEM)</td>
          </tr>
          <tr>
              <td>Goodbye!</td>
              <td>До свидания! (duh svee-DAH-nyah)</td>
              <td>Сау болыңыз! (SAH-w bo-ly-NGYZ)</td>
          </tr>
          <tr>
              <td>My name is…</td>
              <td>Меня зовут ... (mee-NYAH zah-VOOT…)</td>
              <td>Менің атым ... (me-NING ah-TYM…)</td>
          </tr>
          <tr>
              <td>I’m a tourist/We’re tourists</td>
              <td>Я турист / Мы туристы (yah too-RIST/myh too-RIS-tyh)</td>
              <td>Мен туристпін / Біз туристпіз (men too-RIST-pin/byz too-RIST-piz)</td>
          </tr>
          <tr>
              <td>I’m from Great Britain/We’re from Great Britain</td>
              <td>Я приехал (-а) из Великобритании / Мы приехали из Великобритании

(ya pree-YE-khal(-ah) eez vye-lee-kuh-bree-TAH-nee-ee/myh pree-YE-kha-lee eez vye-lee-kuh-bree-TAH-nee-ee)</td>
              <td>Мен Ұлыбританиядан келдім / Біз Ұлыбританиядан келдік

(men oo-lyh-bree-TAH-nee-yah-dahn kel-DYM/biz oo-lyh-bree-TAH-nee-yah-dahn kel-DIK)</td>
          </tr>
          <tr>
              <td>Thank you!</td>
              <td>Спасибо! (spuh-SEE-buh)</td>
              <td>Рахмет! (rakh-MET)</td>
          </tr>
          <tr>
              <td>Excuse me (Sorry)</td>
              <td>
Извините (Простите) (eez-vee-NEET-yeh) (prah-STEET-yeh)</td>
              <td>Кешіріңіз (ke-shee-ryh-NGYZ)</td>
          </tr>
          <tr>
              <td>Help me, please</td>
              <td>Помогите, пожалуйста (puh-mah-GEE-tyeh, puh-ZHAH-loo-stah)</td>
              <td>Көмектесіңізші (ko-mek-TE-syh-ngiz-shee)</td>
          </tr>
          <tr>
              <td>Where is the nearest store?</td>
              <td>Где ближайший магазин? (gdye blee-ZHAI-sheey muh-gah-ZEEN?)</td>
              <td>Ең жақын дүкен қай жерде? (en zhah-KYN DOO-koon KAI zher-DE?)</td>
          </tr>
          <tr>
              <td>I’m lost</td>
              <td>Я заблудился (-ась) (m/f). (yah zah-bloo-DEEL-suh / zah-bloo-DEE-luhs’)</td>
              <td>Мен адасып кеттім (MEN ah-DAH-syp ket-TIM)</td>
          </tr>
          <tr>
              <td>I don’t understand</td>
              <td>Не понимаю (nee puh-nee-MIGH-yoo)</td>
              <td>Түсінбеймін (too-soon-BEI-min)</td>
          </tr>
          <tr>
              <td>Where is it?</td>
              <td>Где это находится? (gdye EH-tuh nah-KHO-deet-sya?)</td>
              <td>Бұл қай жерде? (bool kigh zher-DE?)</td>
          </tr>
          <tr>
              <td>How can I get to this place?</td>
              <td>Как можно дойти до этого места? (kahk MOZH-nuh digh-TEE duh EH-tuh-guh MYES-tuh?)</td>
              <td>Мына жерге қалай жетуге болады? (my-NAH zher-GE kah-LAI zhe-TOO-ge bo-LAH-dyh?)</td>
          </tr>
          <tr>
              <td>Show me, please</td>
              <td>Покажите, пожалуйста (puh-kah-ZHEE-tye, puh-ZHAH-luh-stuh)</td>
              <td>Көрсетіп жіберіңізші (kor-soh-TOOP zhee-be-RYH-niz-shee)</td>
          </tr>
          <tr>
              <td>Is there Internet here?</td>
              <td>Здесь есть интернет? (Zdyes’ yest’ een-ter-NET?)</td>
              <td>Бұл жерде интернет бар ма? (bool zher-DE een-ter-NET bahr mah?)</td>
          </tr>
          <tr>
              <td>How can I connect to the Internet?</td>
              <td>Как можно подключиться к интернету? (kahk MOZH-nuh pahd-klyu-CHEET-sya k een-ter-NEH-too?)</td>
              <td>Интернетке қалай қосылуға болады? (een-ter-net-KEH kah-LAI ko-sy-LOO-gah bo-LAH-dyh?)</td>
          </tr>
          <tr>
              <td>Where can I find a taxi?</td>
              <td>Где можно найти такси? (Gdye MOZH-nah nai-TEE tahk-SEE?)</td>
              <td>Такси қайдан табуға болады? (tahk-SEE kai-DAHN tah-boo-GAH bo-LAH-dyh?)</td>
          </tr>
      </table>
    </div>

            <div id="communication" style="display: none">
                <article class="container container--narrow content-article">
                    <p>Cities and almost all the villages in Kazakhstan are covered with mobile network. Main mobile network operators in Kazakhstan are Kcell, Beeline, Tele2, Altel 4G. There is no big difference which operator you will choose when travelling in the cities. However, if you are going to reach remote areas of the country travelling long distances across vast steppes, then it is better to buy SIM card of such mobile network giants as Kcell or Beeline. Their networks may cover even uninhabited areas. Mobile service is operated at the following frequency ranges:&nbsp; GSM (900/1800), UMTS/WCDMA (2100 MHz), LTE(4G), LTE Advanced (700/800 MHz и 1700/1800 MHz), HSPA+ .</p>
                    <p>It is possible to make international calls using a SIM card of any mobile network operator listed above. There is also Wi-Fi option based on the wireless access to the internet. A wide range of digital-options are offered in Kazakhstan such as mobile financial services, multimedia services, convergent services, as well as M2M-, MDM-, E2E-decision contents.&nbsp;</p>
                    <p>As a rule, a SIM card itself is cheap and a small start balance is almost always included in the cost. Further on, you can choose necessary tariff. There are various tariffs, and at the sales points you can receive detailed information about tariffs and get help.</p>
                    <p>It is possible to buy SIM cards even in small shops by the side of the roads. However, there is a bigger choice in large sales points at the airport, at the railway station, in the shopping malls; and, more likely, salespersons there will know English language and, hence, will be able to help you out.&nbsp;</p>
                    <p>Below is a list of necessary documents to register mobile number/to conclude a subscription agreement.&nbsp;</p>
                    <p>Individuals – residents of the Republic of Kazakhstan – should provide one of these documents:</p>
                    <ul>
                        <li>Passport of the citizen of the Republic of Kazakhstan</li>
                        <li>ID of the citizen of the Republic of Kazakhstan</li>
                        <li>Residence permit for a foreign citizen</li>
                        <li>Stateless person certificate</li>
                        <li>Certificate of birth</li>
                    </ul>
                    <p>Individuals – non-residents of the Republic of Kazakhstan – should provide these documents:</p>
                    <ul>
                        <li>Passport</li>
                        <li>Valid certificate of temporary registration in the Republic of Kazakhstan, if applicable</li>
                    </ul>
                </article>
            </div>

    </div>

      <script>
      function myFunction() {
        var x = document.getElementById("time_zones");
        x.style.display = "block";
        var y = document.getElementById("languages");
        y.style.display = "none";
        var z = document.getElementById("communication");
        z.style.display = "none";
        var a = document.getElementById("opt1");
        a.style.backgroundColor = "#6A994E";
        var b = document.getElementById("opt2");
        b.style.backgroundColor = "#386641";
        var c = document.getElementById("opt3");
        c.style.backgroundColor = "#386641";
      }
      function myFunction2() {
        var x = document.getElementById("time_zones");
        x.style.display = "none";
        var y = document.getElementById("languages");
        y.style.display = "block";
        var z = document.getElementById("communication");
        z.style.display = "none";
        var a = document.getElementById("opt1");
        a.style.backgroundColor = "#386641";
        var b = document.getElementById("opt2");
        b.style.backgroundColor = "#6A994E";
        var c = document.getElementById("opt3");
        c.style.backgroundColor = "#386641";
      }
      function myFunction3() {
        var x = document.getElementById("time_zones");
        x.style.display = "none";
        var y = document.getElementById("languages");
        y.style.display = "none";
        var z = document.getElementById("communication");
        z.style.display = "block";
        var a = document.getElementById("opt1");
        a.style.backgroundColor = "#386641";
        var b = document.getElementById("opt2");
        b.style.backgroundColor = "#386641";
        var c = document.getElementById("opt3");
        c.style.backgroundColor = "#6A994E";
      }
      </script>
  </div>
</div>
{% endblock %}