{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Tours
{% endblock %}

{% block content %}
    <div class="container">
    <h3>All Tours</h3><hr>
    {% for cat in allcategories %}
    <h4>{{cat.title}}</h4><hr>
    <div class="row">
        {% for p in cat.kaztour_set.all %}
        <div class="col-md-3">
            <div class="m-4">
                <h4><a href="{% url 'tourdetails' p.slug %}">{{p.title}}</a></h4>
                <img src="{{p.image}}" alt="" class="img-fluid" style="object-fit: cover;">
                <p class="mt-3">Price: {{p.price}} $ per person</p>
                <a href="" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
