{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Tours
{% endblock %}

{% block content %}
    <h1 style="text-align: center">Tours</h1>
    {% for el in all_tours %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <img src="{{ el.image }}" style="width: 400px" alt="Image of the city">
            <p><b>Category:</b> {{ el.category }}</p>
            <p><b>Description:</b> {{ el.description }}</p>
            <p><b>Duration:</b> {{ el.duration }}</p>
            <p><b>Price:</b> {{ el.price }} $ per person</p>
            <p><b>Prices include:</b> {{ el.price_include }}</p>
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </div>
    {% endfor %}
{% endblock %}
