{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Tour Details
{% endblock %}

{% block content %}
    <div class="container">
    <h3>Tour: {{product.title}}</h3><hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{product.image}}" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h4>{{product.title}} (Viewed {{product.view_count}} times)</h4>
            <h5>Category: {{product.category}}</h5>
            <h5>Price: {{product.price}} $ per person</h5>
            <a href="{% url 'addtocart' product.id %}" class="btn btn-info">Add To Cart</a>
            <hr>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
{% endblock %}
