{% extends 'main/base.html' %}
{% load static  %}
{% block title %}
    KazTravel - Homepage
{% endblock %}

{% block content %}
<div class="mycontainer">
    <div class="cityname">
        <h2 class="myfont">WEST KAZAKHSTAN, Oral</h2>
        <h5 class="myfont">Have a nice trip</h5>
      </div>

    <div class="city_data">
        <div></div>

        <div class="city_data2">
            <div>
                <h5 style="color: #6A994E">Time</h5>
                <a id="month">Month </a>
                <a id="date">Date </a><a>,</a>
                <a id="year">Year</a><br>
                <p id="cityTime" style="font-size: 2.19vw;">Time</p>
                <a id="weekday">Weekday</a>
                <script>
                    var m = new Date();
                    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                    document.getElementById("month").innerHTML = months[m.getMonth()];

                    var d = new Date();
                    document.getElementById("date").innerHTML = d.getDate();

                    var y = new Date();
                    document.getElementById("year").innerHTML = y.getFullYear();

                    var w = new Date();
                    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                    document.getElementById("weekday").innerHTML = days[w.getDay()];

                    var getCityTime = function(){
                        document.getElementById("cityTime").innerHTML = new Date().toLocaleString("en-US", {timeZone:
                        'Asia/Aqtobe', timeStyle:'medium', hourCycle:'h23'});
                    }
                    getCityTime();
                    setInterval(getCityTime, 1000);
                </script>
            </div>
            <div>
                <h5 style="color: #6A994E">Weather</h5>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                <ul>
                    <li>{{ city_weather.temperature }}° C</li>
                    <li>{{ city_weather.description }}</li>
                </ul>
            </div>
            <div class="bron">
                <div style="float: left; padding-top: 0.73vw; height: 0.73vw;">
                    <p>I'm alone</p>
                    <p>We are</p>
                    <p>With</p>
                    <p>And we need</p>
                </div>
                <div class="counters">
                    <div style="background: #fff"></div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn disabled" type="button">-</button>
                            <input type="text" id="quantity" value="1">
                            <button class="btn plus-btn" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
                            var adultCount
                            document.querySelector(".plus-btn").addEventListener("click", function() {
                                adultCount = document.getElementById("quantity").value;
                                adultCount++;
                                document.getElementById("quantity").value = adultCount;
                                if (adultCount > 1) {
                                    document.querySelector(".minus-btn").removeAttribute("disabled");
                                    document.querySelector(".minus-btn").classList.remove("disabled")
                                }

                                })
                                document.querySelector(".minus-btn").addEventListener("click", function() {
                                    adultCount = document.getElementById("quantity").value;
                                    adultCount--;
                                    document.getElementById("quantity").value = adultCount
                                    if (adultCount == 1) {
                                        document.querySelector(".minus-btn").setAttribute("disabled", "disabled")
                                    }
                                })
                            </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn2 disabled" type="button">-</button>
                            <input type="text" id="quantity2" value="1">
                            <button class="btn plus-btn2" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn2").setAttribute("disabled", "disabled");
                            var childCount
                            document.querySelector(".plus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount++;
                                document.getElementById("quantity2").value = childCount;
                                if (childCount > 1) {
                                    document.querySelector(".minus-btn2").removeAttribute("disabled");
                                    document.querySelector(".minus-btn2").classList.remove("disabled")
                                }
                            })
                            document.querySelector(".minus-btn2").addEventListener("click", function() {
                                childCount = document.getElementById("quantity2").value;
                                childCount--;
                                document.getElementById("quantity2").value = childCount
                                if (childCount == 1) {
                                    document.querySelector(".minus-btn2").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                    <div>
                        <div class="quantity">
                            <button class="btn minus-btn3 disabled" type="button">-</button>
                            <input type="text" id="quantity3" value="1">
                            <button class="btn plus-btn3" type="button">+</button>
                        </div>

                        <script>
                            document.querySelector(".minus-btn3").setAttribute("disabled", "disabled");
                            var roomCount
                            document.querySelector(".plus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount++;
                                document.getElementById("quantity3").value = roomCount;
                                if (roomCount > 1) {
                                    document.querySelector(".minus-btn3").removeAttribute("disabled");
                                    document.querySelector(".minus-btn3").classList.remove("disabled")
                                }

                            })
                            document.querySelector(".minus-btn3").addEventListener("click", function() {
                                roomCount = document.getElementById("quantity3").value;
                                roomCount--;
                                document.getElementById("quantity3").value = roomCount
                                if (roomCount == 1) {
                                    document.querySelector(".minus-btn3").setAttribute("disabled", "disabled")
                                }
                            })
                        </script>
                    </div>
                </div>
                <div style="float: right; padding-top: 15px;">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <p>adults</p>
                    <p>children</p>
                    <p>rooms</p>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <h2 class="gridt">ATTRACTIONS</h2>
        <div class="slideshow-container">
            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                        <img src="http://zhaikpress.kz/wp-content/oraloniri/news/img/2019/07/gorodishe-zhaiyk-2.jpg">
                        <h5 class="myfont">Settlement "Zhaiyk"</h5>
			            <p class="myfont">Oral</p>
                    </div>
                    <div class="card1">
                         <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/%D0%94%D0%BE%D0%BC-%D0%BC%D1%83%D0%B7%D0%B5%D0%B9_%D0%95%D0%BC%D0%B5%D0%BB%D1%8C%D1%8F%D0%BD%D0%B0_%D0%9F%D1%83%D0%B3%D0%B0%D1%87%D0%B5%D0%B2%D0%B0_-_panoramio_%2812%29.jpg">
                        <h5 class="myfont">House-museum of emelyan pugachev</h5>
			            <p class="myfont">Oral</p>
                    </div>
                    <div class="card1">
                         <img src="https://img.lookmytrips.com/images/look6obk/big-583e5935ff936745fc014d28-583fc4891c433-1c3vh49.jpg">
                        <h5 class="myfont">Central Mosque</h5>
			            <p class="myfont">Oral</p>
                    </div>
                </div>
            </div>

            <div class="mySlides">
                <div class="cards">
                    <div class="card1">
                         <img src="https://img.lookmytrips.com/images/look6obk/big-583e5935ff936745fc014d28-583fde8610486-1c3vnk6.jpg">
                        <h5 class="myfont">Regional history and local history museum</h5>
			            <p class="myfont">Oral</p>
                    </div>
                    <div class="card1">
                         <img src="https://el.kz/upload/storage_el/aa/aa15383c4499ec0e4713414b603a77b0.jpg">
                        <h5 class="myfont">Lake Shalkar - Pearl</h5>
			            <p class="myfont">Oral</p>
                    </div>
                    <div class="card1">
                         <img src="https://i3.photo.2gis.com/images/geo/162/22799473145834396_26e0.jpg">
                        <h5 class="myfont">House of merchants Vanyushins</h5>
			            <p class="myfont">Oral</p>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");

              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slides[slideIndex-1].style.display = "block";
            }
        </script>

    <h2 class="gridt">HOTELS</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/249484793.jpg?k=83588a8b12c3f48ac027739a2c98004e130b9e545ba146bfc97663dbea059802&o=&hp=1">
                        <h5 class="myfont">Pushkin </h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/pushkin.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=30452907_277133477_0_41_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=30452907_277133477_0_41_0&hpos=1&nflt=class%3D3%3Bclass%3D4%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=30452907_277133477_0_41_0__3250000&srepoch=1622647570&srpvid=9fe26c887a5100d0&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Dostyk Avenue 148B</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77112507733">+7 (7112) 50 77 33</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/images/hotel/max1280x900/244/244245470.jpg">
                        <h5 class="myfont">AMARI</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/gostinichno-restorannyi-kompleks-amari.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=563837802_296613722_2_0_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=563837802_296613722_2_0_0&hpos=3&nflt=ht_id%3D204%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=563837802_296613722_2_0_0__1399999&srepoch=1622647605&srpvid=34926c9abdb40130&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Komsomolskaya house 88</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77715968803">+7 (771) 596 88 03</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/169988580.jpg?k=92cac98a8f8e16b42b3009c3ce6937534694aa0f860d6da702d96f945411dd27&o=&hp=1">
                        <h5 class="myfont">Tropicana Inn</h5>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/sauna-gostinitsa-quot-tropicana-quot.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=423806901_223759099_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=2&highlighted_blocks=423806901_223759099_2_1_0&hpos=2&nflt=ht_id%3D204%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=423806901_223759099_2_1_0__1200000&srepoch=1622647605&srpvid=34926c9abdb40130&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Zhambyl Street 38/3</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77052684455">+7 (705) 268 44 55</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mySlides2">
                <div class="cards">
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/259239149.jpg?k=06240ee0c18e7ee6fe3c24afe14b4a153291f0a1cf9f0849cf54d66a0e7caa62&o=&hp=1">
                        <h5 class="myfont">Rakhat</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/rakhat.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=112747302_242280167_2_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=4&highlighted_blocks=112747302_242280167_2_1_0&hpos=4&nflt=ht_id%3D204%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=112747302_242280167_2_1_0__2499999&srepoch=1622647605&srpvid=34926c9abdb40130&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Tyulenina street 47/1</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77112549404">+7 (7112) 54 94 04</a>
                        </div>
                    </div>
                    <div class="card1">
                       <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/141361389.jpg?k=922002ee7909ba26dfa57752d0d5c08043fbf2d5f4fecbbffa18f93be6345293&o=&hp=1">
                        <h5 class="myfont">Viktoria</h5>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/victoria-uralsk.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=89696303_117168183_0_1_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=5&highlighted_blocks=89696303_117168183_0_1_0&hpos=5&nflt=ht_id%3D204%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=89696303_117168183_0_1_0__1929999&srepoch=1622647605&srpvid=34926c9abdb40130&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Fourth Microdistrict 2</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77019953678">+7 (701) 995 36 78</a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/175112567.jpg?k=cdf417cc96c6a5cd85bac91cdb342d7c91cd9c14cc217108a485511140610723&o=&hp=1">
                        <h5 class="myfont">VEGUS</h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
			            <p class="myfont">Oral</p>
                        <div class="hot_txt">
                            <img src="{% static 'home/images/icons/placeholder.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="https://www.booking.com/hotel/kz/apart-hotel-vegus.ru.html?aid=376376&label=bookings-name-x9XjJRNqhtTGZ30YXWfPUQS410902425082%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9063094%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Yf23yREhrOV9YczHwt1OUN4&sid=cdc45927942b2f7b08f10f378470c3b6&all_sr_blocks=140412103_210509835_2_0_0&checkin=2021-06-18&checkout=2021-06-19&dest_id=900048870&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=6&highlighted_blocks=140412103_210509835_2_0_0&hpos=6&nflt=ht_id%3D204%3B&no_rooms=1&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=140412103_210509835_2_0_0__1599999&srepoch=1622647605&srpvid=34926c9abdb40130&type=total&ucfs=1&activeTab=main#map_opened-hotel_address">Prospekt Evraziya, 46</a><br>
                            <img src="{% static 'home/images/icons/telephone.png' %}" class="hoticon" style="width: 1.5vw; height: 1.5vw"> <a href="tel:+77770887370">+7 (777) 088 73 70</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="prev" onclick="plusSlidesa(-1)">&#10094;</a>
            <a class="next" onclick="plusSlidesa(1)">&#10095;</a>
            </div>

        <script>
            var slideIndexa = 1;
            showSlidesa(slideIndexa);

            function plusSlidesa(m) {
              showSlidesa(slideIndexa += m);
            }

            function currentSlida2(m) {
              showSlidesa(slideIndexa = m);
            }

            function showSlidesa(m) {
              var o;
              var slides2 = document.getElementsByClassName("mySlides2");

              if (m > slides2.length) {slideIndexa = 1}
              if (m < 1) {slideIndexa = slides2.length}
              for (o = 0; o < slides2.length; o++) {
                  slides2[o].style.display = "none";
              }
              slides2[(slideIndexa)-1].style.display = "block";
            }
    </script>


{% endblock %}

</div>