.cityname{
    text-align: center;
    padding: 3% 0 3% 0;
}
.city_data{
	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	padding-bottom: 5%;
}
.city_data2 {
    display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-column-gap: 20px;
}
.city_data2 div{
    background-color: #fff;
	border-radius: 15px 15px;
	font-size: 18px;
	text-align: center;
}
.city_data img{
	border-radius: 5% 5%;
	width: 40%;
}
.city_data ul{
    padding: 0;
}
.city_data li{
    list-style-type: none;
}
.bron{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5px;
}

/*Toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #6A994E;
}
input:focus + .slider {
  box-shadow: 0 0 1px #6A994E;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* COUNTERS */
.counters{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    row-gap: 10px;
}
.counters div{
    background-color: #F2E8CF;
    border-radius: 20px 20px;
}
.quantity {
    display: flex;
    justify-content: stretch;
    padding: 0;
}
.quantity button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #F2E8CF;
    padding: 0;
}
.quantity input {
    border: none;
    text-align: center;
    width: 82%;
    font-size: 20px;
    color: #000;
    font-weight: 300;
    background-color: #F2E8CF;
    padding: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 77.5%;
  position: relative;
  margin: auto;
  padding-bottom: 3%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* CARDS */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.card1{
    background-color: #fff;
    border-radius: 5% 5%;
    text-align: center;
}
.card1 img{
    border-radius: 5% 5%;
    object-fit: cover;
    height: 225px;
}
.checked {
  color: orange;
}