body{
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica', sans-serif;
	overflow-x: hidden;
}
.mycontainer{
	background-color: #F2E8CF;
}
.myfont{
    font-family: Helvetica;
}
select, input{
    font-size:14px;
}
/* MAP Start */
.mapdiv{
	width: 80%;
	margin: auto;
	padding: 7% 0 5% 0;
	position: relative;
	z-index: 3;
}
.mapdiv path{
	fill: #6A994E;
	stroke: #A7C957;
	stroke-width: 1px;
	transition: fill 0.3s;
}
.mapdiv path:hover{
	fill: #BC4749;
}

/* BOOKING FORM START */
.dFlex, .ctaGroup, header nav .myAccount .ctaGroup .cta, .booking_info .opt, .booking_info .opt span, .booking_details, .booking_details .item .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hotel_content {
  text-align: center;
  width: 768px;
  margin: auto;
  padding-bottom: 19.5%;
  padding-top: 5%;
  position: relative;
  z-index: 10;
}

.info h2 {
    padding-top: 30px;
    color: #386641;
}

.info p {
  font-size: 12px;
}

.booking_info {
  margin-top: -5px;
}

.booking_info .opt {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: 30px;
  z-index: 1;
}

.booking_info .opt span {
  width: 130px;
  height: 70px;
  border-radius: 20px;
  background-color: #386641;
  color: #fff;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  position: relative;
  z-index: 2;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.booking_info .opt span.active {
  background-color: #6A994E;
  color: #fff;
}

.booking_info .opt span + span {
  left: -15px;
  z-index: 1;
}

.booking_details {
  background-color: #fff;
  height: 60px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 20px 0px rgba(50, 50, 50, 0.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.booking_details .item {
  font-size: 10px;
  padding: 0 10px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.booking_details .item .cta {
    width: 135px;
    height: 35px;
    border: 1px solid #BC4749;
    font-size: 14px;
    border-radius: 35px;
    color: #BC4749;
    cursor: pointer;
    background-color: #BC4749;
    color: #fff;
}

.booking_details .item + .item {
    border-left: 1px solid #BC4749;
}

.booking_details .item:nth-last-child(1) {
    border-left: none;
}

.booking_details .item:nth-child(1) {
    padding: 0;
    padding-left: 5px;
}

.hotel {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: 1;
	overflow: hidden;
}

.car1 {
    position: absolute;
    bottom: 6%;
    -webkit-animation: drive 15s;
          animation: drive 15s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 80px;
    z-index: 3;
	overflow: hidden;
}

.car2 {
    position: absolute;
    bottom: 3%;
    -webkit-animation: drive 10s;
          animation: drive 10s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 80px;
    z-index: 3;
	overflow: hidden;
}

.car3 {
    position: absolute;
    bottom: 5%;
    -webkit-animation: drive_2 20s;
          animation: drive_2 20s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 80px;
    z-index: 3;
    overflow: hidden;
}

.car4 {
    position: absolute;
    bottom: 2%;
    -webkit-animation: drive_2 12s;
          animation: drive_2 12s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 80px;
    z-index: 3;
    overflow: hidden;
}

.cloud {
    position: absolute;
    top: -70px;
    -webkit-animation: cloud_1 50s;
          animation: cloud_1 50s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 800px;
    z-index: 1;
    overflow: hidden;
}

.cloud_2 {
    position: absolute;
    bottom: 50%;
    -webkit-animation: cloud_2 60s;
          animation: cloud_2 60s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 500px;
    z-index: 1;
    overflow: hidden;
}

.cloud_3 {
    position: absolute;
    bottom: 60%;
    -webkit-animation: cloud_2 30s;
          animation: cloud_2 30s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 500px;
    z-index: 1;
    overflow: hidden;
}

.cloud_4 {
    position: absolute;
    bottom: 70%;
    -webkit-animation: cloud_2 70s;
          animation: cloud_2 70s;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    width: 500px;
    z-index: 1;
    overflow: hidden;
}

@-webkit-keyframes drive {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(1950px);
            transform: translateX(1950px);
  }
}

@keyframes drive {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(1950px);
            transform: translateX(1950px);
  }
}

@-webkit-keyframes drive_2 {
  from {
    -webkit-transform: translateX(1950px);
            transform: translateX(1950px);
  }
  to {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes drive_2 {
  from {
    -webkit-transform: translateX(1950px);
            transform: translateX(1950px);
  }
  to {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@-webkit-keyframes cloud_1 {
  from {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
  to {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@keyframes cloud_1 {
  from {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
  to {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@-webkit-keyframes cloud_2 {
  from {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}

@keyframes cloud_2 {
  from {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
  to {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
}
/* BOOKING FORM END */


/* icons on the map */
.star{
    position: absolute;
    top: 126%;
    left: 58%;
    width: 2%;
    z-index: 4;
}
.star:hover + .capital{
    display: block;
}
.capital{
    display: none;
    position: absolute;
    top: 120%;
    left: 58%;
    width: 2%;
    z-index: 4;
    padding: -10px;
    margin: -10px;
}
.left{
    position: absolute;
    top: 130%;
    left: 15%;
    width: 3.5%;
    z-index: 4;
}
.right{
    position: absolute;
    top: 170%;
    left: 75%;
    width: 3.5%;
    z-index: 4;
}
.roadweb{
    position: absolute;
    width: 100%;
    left: -0.4%;
    top: 100%;
    z-index: 1;
}

.city {
    display: grid;
    background-color: #fff;
    padding: 5px;
    z-index: 5;
    border-radius: 5% 5%;
    width: 23%;
}
.citem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 1vw;
    text-align: left;
    padding: 5px;
    margin: 0;
}
.cul {
    columns: 2;
    padding-left: 8px;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
}
.cimg {
    height: 100px;
    border-radius: 10px 10px;
}
.cimg img{
    height: 100%;
    object-fit: cover;
}
.ctour{
    font-size: 1vw;
}
.ctour p{
    display: inline;
    color: #6A994E;
}
.cbuy button{
    float: right;
    margin-top: 10px;
    background-color: #6A994E;
    border-radius: 25px 25px;
    border: none;
    color: #fff;
    font-weight: 500;
}
.cbuy button:hover{
    color: #000;
}
.citem2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #F2E8CF;
    border-radius: 10px 10px;
    padding: 0 5px 0 5px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: -15px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Cities' cards on the map */
.akmolainfo{
    position: absolute;
    top: 127%;
    left: 51%;
    z-index: 5;
    width: 2%;
}
.akmola{
    position: absolute;
    top: 100%;
    left: 38%;
    display: none;
}

.westinfo{
    position: absolute;
    top: 143%;
    left: 15%;
    z-index: 5;
    width: 2%;
}
.west{
    position: absolute;
    top: 112%;
    left: 3%;
    display: none;
}

.atyrauinfo{
    position: absolute;
    top: 153%;
    left: 20%;
    z-index: 5;
    width: 2%;
}
.atyrau{
    position: absolute;
    top: 122%;
    left: 7%;
    display: none;
}

.mangystauinfo{
    position: absolute;
    top: 173%;
    left: 25%;
    z-index: 5;
    width: 2%;
}
.mangystau{
    position: absolute;
    top: 150%;
    left: 10%;
    display: none;
}

.aktobeinfo{
    position: absolute;
    top: 149%;
    left: 33%;
    z-index: 5;
    width: 2%;
}
.aktobe{
    position: absolute;
    top: 126%;
    left: 18%;
    display: none;
}

.kostanayinfo{
    position: absolute;
    top: 139%;
    left: 43%;
    z-index: 5;
    width: 2%;
}
.kostanay{
    position: absolute;
    top: 115%;
    left: 28%;
    display: none;
}

.qyzylordainfo{
    position: absolute;
    top: 169%;
    left: 43%;
    z-index: 5;
    width: 2%;
}
.qyzylorda{
    position: absolute;
    top: 145%;
    left: 28%;
    display: none;
}

.northinfo{
    position: absolute;
    top: 117%;
    left: 51%;
    z-index: 5;
    width: 2%;
}
.north{
    position: absolute;
    top: 90%;
    left: 38%;
    display: none;
}

.karagandyinfo{
    position: absolute;
    top: 149%;
    left: 53%;
    z-index: 5;
    width: 2%;
}
.karagandy{
    position: absolute;
    top: 125%;
    left: 35%;
    display: none;
}

.turkestaninfo{
    position: absolute;
    top: 177%;
    left: 53%;
    z-index: 5;
    width: 2%;
}
.turkestan{
    position: absolute;
    top: 152%;
    left: 38%;
    display: none;
}

.pavlodarinfo{
    position: absolute;
    top: 125%;
    left: 68%;
    z-index: 5;
    width: 2%;
}
.pavlodar{
    position: absolute;
    top: 100%;
    left: 48%;
    display: none;
}

.eastinfo{
    position: absolute;
    top: 149%;
    left: 77%;
    z-index: 5;
    width: 2%;
}
.east{
    position: absolute;
    top: 128%;
    left: 55%;
    display: none;
}

.almatyinfo{
    position: absolute;
    top: 166%;
    left: 70%;
    z-index: 5;
    width: 2%;
}
.almaty{
    position: absolute;
    top: 133%;
    left: 60%;
    display: none;
}

.zhambylinfo{
    position: absolute;
    top: 172%;
    left: 60%;
    z-index: 5;
    width: 2%;
}
.zhambyl{
    position: absolute;
    top: 146%;
    left: 40%;
    display: none;
}
/* MAP END */




/* GRID CARDS START */
.grid{
	display: grid;
    width: 100%;
    height: auto;
    margin: 0 auto;
	grid-template-columns: repeat(auto-fit, 250px);
	justify-content: center;
	grid-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.grid div{
    display: grid;
	justify-items: center;
	margin-top: 0;
	top: 0;
	border-radius: 5% 5%;
	background-color: #6A994E;
	color: #fff;
	box-shadow: 0px 0px 5px 0px gray;
}
.gridt{
    color: #BC4749;
    text-align: center;
}
img{
	width: 100%;
	position: relative;
	border-radius: 5% 5%;
}
.tours-image{
    width: 400px;
}
.title .road{
    top: 60px;
    width: 40%;
}
.before {
	display: block;
}
.grid div:hover .before{
    display: none;
}
.after {
    display: none;
}
.grid div:hover .after{
    display: block;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background-color: #BC4749;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.15em;
  width: 260px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
}
/* GRID CARDS END */

